$my-top-padding: 50px;
$my-background-color: #DDD;
$primary-font: 'Raleway', sans-serif;
$primary-body: #636363; //gray
$primary-color: #68BDBF; //teal
$secondary-color: #428bca; // blue


body {
    background-color: $my-background-color;
	padding-top: $my-top-padding;
    color: $primary-body;
}

body, html {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: 300;
  line-height: 1.5;
}

.lead {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.intro-header {
  padding-top: 100px; /* make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 100px;
  color: #fff;
  background-color: $primary-color;
  background: url(../img/aq_motion_blur_tone.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}


p {
  font-size: 16px;
}



/* header backgrounds */

.header {
  padding-top: 80px; /* make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 80px;
  color: #f8f8f8;
  background-size: cover;
  text-align: left;
}

.about {
  background: url(../img/about/banner.jpg) repeat center center;
}

.smartshopper {
  background: url(../img/smartshopper/hands_up.jpg) repeat center center;
}

.iretail {
  background: url(../img/iretail/header_bg.jpg) no-repeat center center;
}

.thesis {
  background: url(../img/thesis/fern_trail.jpg) repeat center center;
}

.myshop {
  background-color: #702481;
}


.yield {
   background: url(../img/yield/yield_texture_1900.jpg) repeat center center;
 }

.geode {
  background: url(../img/geode/bg.png) repeat center center;
}

.blog {
  background: url(../img/blog/banner.jpg) repeat center center;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;

}

.sub-header {
  padding-top: 50px; /* make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/aq_motion_blur_tone.jpg) no-repeat center center;
  background-size: cover;
  text-align: left;
}

.sub-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.sub-message > h1 {
  margin: 0;
  font-size: 5em;
}

.sub-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;

}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  background-color: #fff;
  padding: 30px 0;
}

.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f1f0f0;
  padding: 30px 0;
}

.content-section-sub {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  border-top: 3px solid #e7e7e7;
  width: 200px;
  float: left;
}

.banner {
  padding: 80px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.banner h2 {
  margin: 0;
  font-size: 3em;
  margin-bottom: 10px;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0 0 10px 0;
    text-shadow: none;
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); this could be useful with low contrast backgrounds */
    font-size: 3em;

  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}


footer {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
}

p.copyright {
  margin: 15px 0 0;
}

.btn-lg {
  border-radius: 0px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: transparent;
  margin: 8px 8px 8px 0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #dcdcdc;
  background-color: #428bca;
  border-color: transparent;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: transparent;
}


.btn-resume {
  border-radius: 0px;
  cursor: pointer;
  background-color: #fff;
  border-color: #fff;
  opacity: 1;
  color: $primary-color;
}

.btn-launch {
  border-radius: 0px;
  cursor: pointer;
  background-color: $primary-color;
  border-color: #fff;
  opacity: .9;
  color: #fff;
}

section {
  position: relative;
  z-index: 1; /* needed for setting pseudo-element z-index */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

section a::before,
section a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Slide up */
.link-slideup {
  background: #f9f9f9;
  color: #34495e;
}

.link-slideup a {
  overflow: hidden;
  font-weight: 500;
}

.link-slideup a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(52,73,94,0.2);
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}

.link-slideup a:hover::before,
.link-slideup a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.role {
  background-color: #999;
  color: #fff;
  border-radius: 2px;
  padding: 5px;

}

a {
  color: #68BDBF;
}

a.hover {
  color: orange;
}

.navbar-nav > li > a {
  padding-top: 10px;
  line-height: 30px;
  text-align: center;
}

.navbar-nav {
  margin-top: 15px;
  padding-bottom: 0px;
}

.navbar-default .navbar-brand {
//  color: $primary-body;
  padding: 15px 15px 8px 15px;
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  font-size: 15px;
}

.profile {
  align-content: center;
  padding: 5px;
  text-align: center;
}

.post {
  padding-top: 20px;
}

.border {
  border:1px solid #9B9B9B;
}


.cursor {
  cursor: pointer;
}