$my-top-padding: 50px;
$my-background-color: #DDD;

body {
    background-color: $my-background-color;
	padding-top: $my-top-padding;
}

body, html {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Gafata', sans-serif;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/geometry_blur2.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-header-yield {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/yield/yield_texture.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-header-smartshopper {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/smartshopper/honey.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

/* header backgrounds */

.iretail {
  background: url(../img/iretail/header_bg.jpg) no-repeat center center;
}

.thesis {
  background: url(../img/thesis/canyon_waterfall_01.jpg) no-repeat center center;

}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;

}

.sub-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/geometry_blur2.jpg) no-repeat center center;
  background-size: cover;
  text-align: left;
}

.sub-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.sub-message > h1 {
  margin: 0;
  font-size: 5em;
}

.sub-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;

}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

.content-section-sub {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  border-top: 3px solid #e7e7e7;
  width: 200px;
  float: left;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: none;
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); this could be useful with low contract backgrounds */
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}

p.copyright {
  margin: 15px 0 0;
}

.btn-lg {
  border-radius: 2px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: transparent;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: transparent;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: transparent;
}
section {
  position: relative;
  z-index: 1; /* needed for setting pseudo-element z-index */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

section a::before,
section a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Slide up */
.link-slideup {
  background: #f9f9f9;
  color: #34495e;
}

.link-slideup a {
  overflow: hidden;
  font-weight: 500;
}

.link-slideup a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(52,73,94,0.2);
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}

.link-slideup a:hover::before,
.link-slideup a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}